@import url("https://use.typekit.net/vyq0svp.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500&family=Kaushan+Script&display=swap');

/*  
  font-family: 'Muli', sans-serif;
  font-family: 'Cormorant SC', serif;
  font-family: 'Kaushan Script', cursive;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Muli', sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: rgb(0, 170, 51);
  color: #fff !important;
  padding: 5px 20px;
  cursor: pointer;
  border: 0;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover {
  opacity: 0.9;
  color: rgba(2, 2, 2, 0.699) !important;

}

.btn-secondary {
  font: inherit;
  font-size: 16px;
  background: #000;
  color: #fff !important;
  border: 0;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

.line {
  border-left: 8px solid rgb(1, 189, 1);
  padding-left: 10px;
}

.mt-2 {
  margin-top: 2rem;
}

.text-end {
  text-align: end;
}
.list-style-none{
  list-style: none;
  margin-bottom: 20px;
}
.text-center {
  text-align: center ;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }
  h2{
    font-size: 1rem;
  }
}

.justify {
  display: flex;
  justify-content: center;

}

.justify a:first-child {
  margin-right: 1rem;
}