.showcase {
    height: 80vh;
    width: 100%;
    background: rgb(1, 44, 3) url('/images/showcase/showcase5.jpg') no-repeat fixed center center;
    background-size: cover;
    color: rgb(238, 238, 238);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}

.showcase h1 {
    font-family: 'Kaushan Script';
    color: rgb(0, 214, 36);
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.showcase * {
    z-index: 20;
}

.showcase h1 {
    font-size: 45px;
    margin-bottom: 0;
}